.main9{
display: flex;
    flex-direction: row;
    width: 1100px;
    height: 600px;

}
.n90{
display: flex;
    flex-direction: row;
}
.n91{
display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:500px;

}
.n91-1{
    width: 200px;
    height: 150px;
    background-color: red;
    border-radius: 10px;

}
.n92{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.n92-1{
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 100px;
}

.n93{
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 600px;
    width: 500px;
}
.n93-1{
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 100px;
}
.n94{
display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 400px;
}
.n94-1{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 100px;
}
.n95{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.n99{
    width: 400px;
    height: 300px;
    background-color: blue;
    border-radius: 10px;
}
.n100{
    width: 400px;
    height: 400px;
    background-color: blue;
    border-radius: 100px;
}
.n101{
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 100px;
}
